@font-face {
    font-family: 'PPMuseum'; /* Choose a descriptive name for your font */
    src: url('../Assets/PPMuseum-Light.otf') format('opentype'); /* Path to your font files */
    font-weight: 300; /* Define font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define font style (e.g., normal, italic) */
    font-display: swap; /* Optional: Controls how font loads and displays */
  }
  @font-face {
    font-family: 'PPMuseum'; /* Choose a descriptive name for your font */
    src: url('../Assets/PPMuseum-LightItalic.otf') format('opentype'); /* Path to your font files */
    font-weight: 300; /* Define font weight (e.g., normal, bold, 400, 700) */
    font-style: italic; /* Define font style (e.g., normal, italic) */
    font-display: swap; /* Optional: Controls how font loads and displays */
  }
  @font-face {
    font-family: 'PPMuseum'; /* Choose a descriptive name for your font */
    src: url('../Assets/PPMuseum-Regular.otf') format('opentype'); /* Path to your font files */
    font-weight: 400; /* Define font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define font style (e.g., normal, italic) */
    font-display: swap; /* Optional: Controls how font loads and displays */
  }
  @font-face {
    font-family: 'PPMuseum'; /* Choose a descriptive name for your font */
    src: url('../Assets/PPMuseum-RegularItalic.otf') format('opentype'); /* Path to your font files */
    font-weight: 400; /* Define font weight (e.g., normal, bold, 400, 700) */
    font-style: italic; /* Define font style (e.g., normal, italic) */
    font-display: swap; /* Optional: Controls how font loads and displays */
  }
  @font-face {
    font-family: 'PPMuseum'; /* Choose a descriptive name for your font */
    src: url('../Assets/PPMuseum-Ultrabold.otf') format('opentype'); /* Path to your font files */
    font-weight: bold; /* Define font weight (e.g., normal, bold, 400, 700) */
    font-style: 800; /* Define font style (e.g., normal, italic) */
    font-display: swap; /* Optional: Controls how font loads and displays */
  }
  @font-face {
    font-family: 'PPMuseum'; /* Choose a descriptive name for your font */
    src: url('../Assets/PPMuseum-UltraboldItalic.otf') format('opentype'); /* Path to your font files */
    font-weight: 800; /* Define font weight (e.g., normal, bold, 400, 700) */
    font-style: italic; /* Define font style (e.g., normal, italic) */
    font-display: swap; /* Optional: Controls how font loads and displays */
  }   

:root {
  --primary-color: #FCF9F4;
  --pink: #f9d7de;
  --dark-grey: #1c1b19;
}

h1 {
  font-family: 'PP Museum', sans-serif;
  font-size: clamp(4.5rem, 10vw ,12rem);
  font-weight: 400;
} /* title */

.p {
  font-family: 'PP Museum', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
} /* body1 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  width: 100vw;
  background: white;
  font-family: "PP Neue Montreal";
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

button {
    border: none;
    background-color: transparent;
}

button:active {
  text-decoration: underline;
}

.mobile {
  display: none;
}

.nav {
  position: relative;
  width: 100vw;
  height: 8vh;
  top: 0;
  padding: 12px;
  padding-left: clamp(12px, 4vw, 30px);
  padding-right: clamp(12px, 4vw, 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  background-color: var(--primary-color);
  overflow-y: hidden;
  border-bottom: 1px solid black;
}

.links {
  display: flex;
  align-items: center;
  gap: 2em;
}

.feather {
  display: none;
  vertical-align: middle;
}

.feather2 {
    vertical-align: middle;
}

.nav a {
  text-decoration: none;
  font-weight: 500;
  display: flex;
}

.logo a {
  font-family: 'PP Museum';
  font-size: 30px;
  color: black;
}

.links .contact {
  color: black;
}

.book {
  background-color: black;
  color: var(--primary-color);
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 20px;
}

.content {
  width: 100vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

.menu {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* outline: solid 1px red; */
}

.title {
    width: 100%;
    height: 24%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: end;
    /* outline: solid 1px blue; */
}

.reservation {
    width: 100%;
    height: 8%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*outline: solid 1px gold; */
}

.gallery {
    width: 100%;
    height: 54%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    /* outline: solid 1px pink; */
}

.img1 {
    width: 39%;
    height: 100%;
    margin-right: 1%;
    border-radius: 0 25px 25px 0;
    background-image: url(../Assets/typeA-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* outline: solid 1px purple; */
}

.img2 {
    width: 20%;
    height: 100%;
    border-radius: 25px;
    background-image: url(../Assets/typeA-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* outline: solid 1px purple; */
}

.img3 {
    width: 39%;
    height: 100%;
    margin-left: 1%;
    border-radius: 25px 0 0 25px;
    background-image: url(../Assets/typeA-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* outline: solid 1px purple; */
}

@media screen and (max-width: 600px) {
  .menu {
    padding-left: 20px;
    justify-content: start;
  }

  .title {
    padding-left: 20px;
    justify-content: start;
    align-items: center;
    height: 14%;
  }

  .reservation {
    padding-left: 20px;
    justify-content: start;
  }

  .gallery {
    height: 70%;
    width: 300%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .img1,
  .img2,
  .img3 {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  .mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 10%;
    /* outline: 1px solid yellow; */
    top: 65%;
  }

  .mobile button {
    width: 50px;
    height: 50px;
    /* outline: 1px solid red; */
  }
}
