   @font-face {
      font-family: 'PPMuseum'; /* Choose a descriptive name for your font */
      src: url('../Assets/PPMuseum-Light.otf') format('opentype'); /* Path to your font files */
      font-weight: 300; /* Define font weight (e.g., normal, bold, 400, 700) */
      font-style: normal; /* Define font style (e.g., normal, italic) */
      font-display: swap; /* Optional: Controls how font loads and displays */
    }
    @font-face {
      font-family: 'PPMuseum'; /* Choose a descriptive name for your font */
      src: url('../Assets/PPMuseum-LightItalic.otf') format('opentype'); /* Path to your font files */
      font-weight: 300; /* Define font weight (e.g., normal, bold, 400, 700) */
      font-style: italic; /* Define font style (e.g., normal, italic) */
      font-display: swap; /* Optional: Controls how font loads and displays */
    }
    @font-face {
      font-family: 'PPMuseum'; /* Choose a descriptive name for your font */
      src: url('../Assets/PPMuseum-Regular.otf') format('opentype'); /* Path to your font files */
      font-weight: 400; /* Define font weight (e.g., normal, bold, 400, 700) */
      font-style: normal; /* Define font style (e.g., normal, italic) */
      font-display: swap; /* Optional: Controls how font loads and displays */
    }
    @font-face {
      font-family: 'PPMuseum'; /* Choose a descriptive name for your font */
      src: url('../Assets/PPMuseum-RegularItalic.otf') format('opentype'); /* Path to your font files */
      font-weight: 400; /* Define font weight (e.g., normal, bold, 400, 700) */
      font-style: italic; /* Define font style (e.g., normal, italic) */
      font-display: swap; /* Optional: Controls how font loads and displays */
    }
    @font-face {
      font-family: 'PPMuseum'; /* Choose a descriptive name for your font */
      src: url('../Assets/PPMuseum-Ultrabold.otf') format('opentype'); /* Path to your font files */
      font-weight: bold; /* Define font weight (e.g., normal, bold, 400, 700) */
      font-style: 800; /* Define font style (e.g., normal, italic) */
      font-display: swap; /* Optional: Controls how font loads and displays */
    }
    @font-face {
      font-family: 'PPMuseum'; /* Choose a descriptive name for your font */
      src: url('../Assets/PPMuseum-UltraboldItalic.otf') format('opentype'); /* Path to your font files */
      font-weight: 800; /* Define font weight (e.g., normal, bold, 400, 700) */
      font-style: italic; /* Define font style (e.g., normal, italic) */
      font-display: swap; /* Optional: Controls how font loads and displays */
    }   

:root {
    --primary-color: #FCF9F4;
    --pink: #f9d7de;
    --dark-grey: #1c1b19;
}

h1 {
    font-family: 'PP Museum', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
} /* title */

.p {
    font-family: 'PP Museum', sans-serif;
    font-size: 1.25rem;
    font-weight: 530;
} /* body1 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    width: 100vw;
    background: white;
    font-family: "PP Neue Montreal";
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

nav {
    position: relative;
    width: 100vw;
    height: 8vh;
    top: 0;
    padding: 12px;
    padding-left: clamp(12px, 4vw, 30px);
    padding-right: clamp(12px, 4vw, 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background-color: var(--primary-color);
    overflow-y: hidden;
    border-bottom: 1px solid black;
}

.links {
    display: flex;
    align-items: center;
    gap: 2em;
}

.feather {
    display: none;
    vertical-align: middle;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: flex;
}

.logo a {
    font-family: 'PP Museum';
    font-size: 30px;
}

.book {
    background-color: black;
    color: var(--primary-color);
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 20px;
}

.content {
    width: 100vw;
    height: 92vh;
    outline: 1px solid red;
    display: flex;
    flex-direction: row;
}

.form {
    width: 50%;
    height: 100%;
    background-color: var(--primary-color);
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.img {
    width: 50%;
    height: 100%;
    background-image: url(../Assets/atelier.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}


.namecard {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    font-family: 'PP Museum', sans-serif;
    font-size: 1rem;
    font-weight: 300; 
    background-color: var(--primary-color);
}

.namecard h1 {
    margin: 2rem;
    margin-top: 0;
}

form {
    width: 100%;
    height: 50%;
}

form div {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
}

.inside {
    padding-left: 2%;
    padding-right: 2%;
}

.question-input-content {
    padding-top: 12px;
}

label {
    font-family: 'PP Museum', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

select {
    width: 98%;
    background-color: transparent;
    border: none;
    height: 100%;
    color: grey;
    padding-left: 2%;
}

.name-input-content,
.e-mail-input-content,
.question-input-content {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-family: 'PP Neue Montreal', sans-serif;
}

.send-content {
    font-family: 'PP Museum', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

.send-arrow {
    width: 15px;
    height: 15px;
}

.send:hover  {
    background-color: var(--dark-grey);
}

.send:hover .send-content {
    color: var(--primary-color);
}

.anchor,
.anchor:hover,
.anchor:active,
.anchor:visited {
    color: black;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .form {
        width: 100%;
    }

    .img {
        display: none;
    }

    .namecard {
        background-image: url(../Assets/atelier-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

}